DATABASE_URL="postgresql://user:password@localhost:5432/vida_os?schema=public"
GEMINI_API_KEY=""
GITHUB_TOKEN=""
CALLMEBOT_PHONE=""
CALLMEBOT_APIKEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000/api/auth/google/callback"
GOOGLE_REFRESH_TOKEN=""
